wholeslidedata:
    default:
        yaml_source: '/home/mbotros/code/barrett_gland_grading/configs/split.yml'
        seed: 2
        associations:
            exact_match: True

        label_map:
            ndbe-g: 1
            lgd-g: 2
            hgd-g: 3
           
        annotation_sources: 
            filters: ['xml']
            
        batch_shape:
            batch_size: 32
            spacing: 1
            shape: [512, 512, 3]

        # samples random points from balanced annotations (default)
        point_sampler:
            attribute: RandomPointSampler

    training:
        # rotates, flips, gamma transform, color jitter (saturation, contrast, hue)
        batch_callbacks:
            - module: wholeslidedata.accessories.albumentations.callbacks
              attribute: AlbumentationsAugmentationsCallback
              augmentations:
                  - RandomRotate90:
                        p: 0.5
                  - Flip:
                        p: 0.5
                  - RandomGamma:
                        gamma_limit: [50, 100]
                        p: 0.5
                  - ColorJitter:
                        brightness: 0.1
                        contrast: 0.1
                        saturation: 0.1
                        hue: 0.1
                        p: 0.5

net:
    # model
    segmentation_model: 'unet++'
    encoder_name: 'efficientnet-b4'
    encoder_depth: 5
    encoder_weights: 'imagenet'
    n_channels: 3
    n_classes: 4

    # training
    learning_rate: 0.001
    scheduler_factor: 0.2
    scheduler_patience: 30
    epochs: 150
    train_batches: 32       # 32 * 32 = 1024 train patches
    val_batches: 8          # 8 * 32 = 256 validation patches
    gpus: 2
    cpus: 1